
/* Font Family */
@font-face {
    font-family: Azeret-Medium;
    src: url("../fonts/Azeret-Medium.otf");
  }
  
  @font-face {
    font-family: Azeret-Regular;
    src: url("../fonts/Azeret-Regular.otf");
  }
  
  @font-face {
    font-family: TTHoves-Regular;
    src: url("../fonts/TTHoves-Regular.ttf");
  }
  
  @font-face {
    font-family: TTHoves-Medium;
    src: url("../fonts/TTHoves-Medium.ttf");
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  :root {
    /* ------ Colors ----- */
  
    --primary-color: #2ac9a2;
    --secondery-color: #091c1c;
    --black: #000000;
  
    --white: #ffffff;
    --white-1: #f1f0ec;
    --white-2: #c1c1c1;
  
    --p: #736e7a;
  
    /* Font Family */
    --ff-azeret-medium: "Azeret-Medium";
    --ff-azeret-regular: "Azeret-Regular";
    --ff-tthoves-regular: "TTHoves-Regular";
    --ff-tthoves-medium: "TTHoves-Medium";
  
    /* Font Size */
    --fs-1: 54px;
    --fs-2: 32px;
    --fs-3: 20px;
    --fs-4: 18px;
    --fs-5: 14px;
    --fs-6: 12px;
    --fs-7: 12px;
  
    /* Font Width */
  
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
  
    /* Section Space */
  
    --section-padding: 60px;
  
    /**
     * transition
     */
  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  }
  
  section {
    width: 100%;
    overflow: auto;
  }
  
  .about__hero,
  .mission__section,
  .client__section,
  .value__section,
  .team__section,
  .contact__Section {
    position: relative;
    z-index: 2 !important;
  }
  
  /* ----------------- Custom Css ------------------ */
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    font-family: var(--ff-tthoves-regular);
  }
  
  body {
    background-color: var(--white-1);
    color: var(--black);
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  input,
  button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
  }
  
  input {
    width: 100%;
  }
  
  input::-webkit-search-cancel-button {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .primary-color {
    color: var(--primary-color);
  }
  
  /* ----------------- Reused Styles ------------------ */
  
  .container {
    padding-inline: 15px;
  }
  
  .section {
    padding-block: var(--section-padding);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: var(--fw-400);
  }
  
  h1 {
    font-size: var(--fs-1);
  }
  
  h2 {
    font-size: var(--fs-2);
  }
  
  h3 {
    font-size: var(--fs-3);
  }
  
  h4 {
    font-size: var(--fs-4);
  }
  
  h5 {
    font-size: var(--fs-5);
  }
  
  h6 {
    font-size: var(--fs-6);
  }
  
  p {
    font-size: var(--fs-5);
  }
  
  .title {
    text-align: center;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .grid-list {
    display: -ms-grid;
    display: grid;
    gap: 20px;
  }
  
  .section-title,
  .section-text {
    text-align: center;
  }
  

.about__hero {
  background: var(--white-1);
  z-index: 0;
  position: relative;
  overflow: hidden;
  margin-top: 6rem;
}

.about__hero .container {
  width: 1085px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-start;
  -ms-flex-align: self-start;
  align-items: self-start;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.about__hero .about__hero-content {
    display: flex;
    position: relative;
}

.about__hero-content-left {
    position: relative;
}

.about__hero-content-left .about__hero-heading h1 {
    font-family: var(--ff-tthoves-medium);
    position: absolute;
    top: -4rem;
    left: -154px;
  }
  
  .about__hero-content-left .about__hero-heading h1 .highlight-text {
    font-size: 71px;
    color: var(--primary-color);
    margin-left: 6rem;
    font-family: var(--ff-tthoves-medium);
  }
  
  .about__hero-content-left h4 {
    margin-top: 10rem;
    margin-bottom: 2.5rem;
    line-height: 30px;
    width: 64%;
    color: var(--secondery-color);
    font-size: 18px;
    font-family: var(--ff-tthoves-medium);
  }
  
  .about__hero-content-left p {
    font-size: 14px;
    font-weight: 400;
    color: var(--p);
    line-height: 20px;
    width: 86%;
  }

.about__hero-content-right img{
    width: 400px;
}